input[type=text] {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input {
    width: 340px;
}

.red {
    padding: 20px;
    background-color: crimson;
    border: 1px solid black;
}

.blue {
    padding: 20px;
    background-color: #3e56ab;
    border: 1px solid black;
}

#main {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
